@import "style.css";
@import "header.css";
@import "footer.css";

/* section description */

.section {
  width: 90%;
  margin: auto;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  padding: 100px 0;
}

.ref {
  font-family: "Calistoga";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: var(--black);
}

h2 {
  text-align: center;
  padding-bottom: 100px;
}

.section__text {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  text-align: center;
  color: var(--black);
  max-width: 645px;
  margin: auto;
}

/* about me  */

.container__about {
  width: 90%;
  margin: auto;
  display: flex;
}

.container__about-img {
  width: 50%;
}

.about-img {
  width: 69%;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 4px 0px 36px 0px rgba(0, 0, 0, 0.5);
}

.container__about-text {
  width: 50%;
}

.about-text-title {
  font-family: "Calistoga";
  font-style: normal;
  font-weight: 300;
  font-size: 61px;
  line-height: 75px;
  color: var(--pink);
  max-width: 645px;
  margin: auto;
  padding-bottom: 60px;
  padding-top: 60px;
}

.about-text {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  color: var(--black);
  max-width: 645px;
  margin: auto;
}

/* projetos */

.projects {
  width: 90%;
  margin: auto;
  padding: 90px 0;
  border-bottom: 1px solid var(--black);
}

.projects__title {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  padding-bottom: 85px;
}

.container__cards {
  display: grid;
  justify-content: center;
  gap: 70px;
  width: 100%;
  margin: auto;
}

.projects__card {
  text-decoration: none;
}

.card {
  width: 100%;
  max-width: 750px;
  height: 200px;
  background: #c4c4c4;
  border-radius: 20px;
  border: 1px solid #000000;
  background-color: var(--white);
  color: var(--black);
  font-family: "Noto Serif";
  padding: 30px;
}

.card:hover {
  color: var(--pink);
}

.card__title {
  font-size: 22px;
  padding-bottom: 10px;
}

.div__topics {
  display: flex;
}

.tags__topics {
  padding: 10px;
  background-color: var(--pink);
  border-radius: 30px;
  margin-top: 10px;
  color: var(--white);
}

@media screen and (max-width: 700px) {
  .menu {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }

  .header__title {
    font-size: 35px;
  }

  .header__social-media {
    gap: 20px;
  }

  .container__about {
    display: block;
  }

  .container__about-img {
    width: 90%;
  }

  .container__about-text {
    width: 90%;
  }

  .about-text-title {
    font-size: 30px;
    line-height: 33px;
  }

  .ref {
    font-size: 25px;
  }

  .section__text {
    font-size: 18px;
  }

  .card {
    height: 250px;
  }

  .email {
    font-size: 15px;
  }
}
